.wrapper {
  //padding: 1.7rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: rgb(254,243,199);
  background: linear-gradient(330deg, rgba(254,243,199,1) 55%, rgba(254,251,238,1) 55%);
}
