<div class="showcase-area">
  <div class="container">
    <div class="row">
      <div class="left col-sm-12 col-md-12 col-lg-6">
        <div class="big-title">
          <h1>Collectible Sneakers</h1>
          <p class="text">
            Sit eli feugiat turpis sed integer ingeter accumsan turpis. Sed suspendisse nec lorem mauris. Pharetra, eu
            imperdiet ipsum ultrices amet.
          </p>
          <div class="cta">
            <a routerLink="/Quiz" class="btn">Start quiz now </a>
            <a href="#" class="demo">
              <i class="fa-regular fa-circle-play"></i>Watch Demo </a>
          </div>
        </div>
      </div>
      <div class="right col-sm-12 col-md-12 col-lg-6 text-center">
        <div class="shadow">
          <img src="assets/images/1.png" alt="img" class="shoes">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bottom-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4">
        <i class="fa-solid fa-trophy fa-2xl pb-4"></i>
        <h5>Nibh viverra</h5>
        <p>
          Sit bibendum donec dolor fames neque vulputate non sit aliquam. Consequat turpis natoque leo, massa.
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <i class="fa-brands fa-rocketchat fa-2xl pb-4"></i>
        <h5>Cursus amet</h5>
        <p>
          Sit bibendum donec dolor fames neque vulputate non sit aliquam. Consequat turpis natoque leo, massa.
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <i class="fa-solid fa-tv fa-2xl pb-4"></i>
        <h5>Ipsum fermentum</h5>
        <p>
          Sit bibendum donec dolor fames neque vulputate non sit aliquam. Consequat turpis natoque leo, massa.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="best-of-area">
  <div class="container">
    <div class="row">
      <div class="d-flex p-5">
        <h1>The best of the best</h1>
        <button class="btn">Start quiz now</button>
      </div>
    </div>
    <div class="row">
      <div class="card col-sm-12 col-md-12 col-lg-4">
        <img src="assets/images/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <p class="card-text">Egestas elit dui sclerisque ut eu purus aliquam vitae habitasse.</p>
          <a href="#" class="btn"> <i class="fa-solid fa-cart-shopping"></i>Buy Now</a>
        </div>
      </div>
      <div class="card col-sm-12 col-md-12 col-lg-4">
        <img src="assets/images/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <p class="card-text">Egestas elit dui sclerisque ut eu purus aliquam vitae habitasse.</p>
          <a href="#" class="btn"><i class="fa-solid fa-cart-shopping"></i>Buy Now</a>
        </div>
      </div>
      <div class="card col-sm-12 col-md-12 col-lg-4">
        <img src="assets/images/4.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <p class="card-text">Egestas elit dui sclerisque ut eu purus aliquam vitae habitasse.</p>
          <a href="#" class="btn"><i class="fa-solid fa-cart-shopping"></i>Buy Now</a>
        </div>
      </div>
    </div>
  </div>

</div>

