.showcase-area {
  height: 100%;
  min-height: 450px;
  display: flex;
  align-items: center;

  .container {

    .row {
      /** display: grid;
       grid-template-columns: repeat(2, 1fr);
       align-items: center;
       justify-content: center;

       */
      .left, .right {
        align-self: center;
      }

      .left {
        .big-title {
          h1 {
            font-weight: bold;
          }

          .text {
          }

          .cta {
            .btn {
              display: inline-block;
              padding: .9rem 1.9rem;
              background-color: transparent;
              border: 2px solid #78350f;
              border-radius: 10px;
              margin-right: 25px;
              color: #78350f;
              font-weight: bold;
            }

            .demo {
              color: #78350f;
              text-decoration: none;
              font-weight: bold;
            }
          }
        }
      }

      .right {
        .shadow {
          background-color: #fbbf24;
          width: 275px;
          height: 275px;
          border-radius: 30px;
          margin: auto;
          position: relative;

          .shoes {
            width: 320px;
            position: absolute;
            top: 0;
            left: -50px;
          }
        }
      }
    }
  }
}
