<div class="showcase-area">
  <div class="container">
    <div class="row">
      <div class="left col-sm-12 col-md-12 col-lg-6">
        <div class="big-title">
          <h1>Collectible Sneakers</h1>
          <p class="text">
            Sit eli feugiat turpis sed integer ingeter accumsan turpis. Sed suspendisse nec lorem mauris. Pharetra, eu
            imperdiet ipsum ultrices amet.
          </p>
          <div class="cta">
            <a routerLink="/Quiz" class="btn">Start quiz now </a>
            <a href="#" class="demo">Watch Demo </a>
          </div>
        </div>
      </div>
      <div class="right col-sm-12 col-md-12 col-lg-6 text-center">
        <div class="shadow">
          <img src="assets/images/1.png" alt="img" class="shoes">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bottom-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4">
        <h5>Nibh viverra</h5>
        <p>
          Sit bibendum donec dolor fames neque vulputate non sit aliquam. Consequat turpis natoque leo, massa.
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <h5>Cursus amet</h5>
        <p>
          Sit bibendum donec dolor fames neque vulputate non sit aliquam. Consequat turpis natoque leo, massa.
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <h5>Ipsum fermentum</h5>
        <p>
          Sit bibendum donec dolor fames neque vulputate non sit aliquam. Consequat turpis natoque leo, massa.
        </p>
      </div>
    </div>
  </div>
</div>

