.showcase-area {
  height: 100%;
  min-height: 450px;
  display: flex;
  align-items: center;

  .container {

    .row {
      /** display: grid;
       grid-template-columns: repeat(2, 1fr);
       align-items: center;
       justify-content: center;

       */
      .left, .right {
        align-self: center;
      }

      .left {
        .big-title {
          h1 {
            font-weight: bold;
          }

          .text {
          }

          .cta {
            .btn {
              display: inline-block;
              padding: .9rem 1.9rem;
              background-color: transparent;
              border: 2px solid #78350f;
              border-radius: 10px;
              margin-right: 25px;
              color: #78350f;
              font-weight: bold;
            }

            .demo {
              color: #78350f;
              text-decoration: none;
              font-weight: bold;
            }
          }
        }
      }

      .right {
        .shadow {
          background-color: #fbbf24;
          width: 275px;
          height: 275px;
          border-radius: 30px;
          margin: auto;
          position: relative;

          .shoes {
            width: 320px;
            position: absolute;
            top: 0;
            left: -50px;
          }
        }
      }
    }
  }
}

.bottom-area {
  min-height: 200px;
  height: 100%;
}

.best-of-area {
  background-color: #0f172a;
  min-height: 700px;
  height: 100%;

  .container {


    .row {
      .card {
        height: 450px;
        margin: auto;
        padding: 0;
        background-color: #0f172a;
        box-shadow: 0 8px 17px #303747;
        color: white;
        width: 400px;

        .card-body {
          .btn {
            background: transparent;
            color: white;
            border: 1px solid white;
            border-radius: 10px;
            width: 100%;
          }
        }
      }

      .d-flex {
        h1 {
          flex: 1;
          color: white;
        }

        .btn {
          background: transparent;
          color: white;
          border: 1px solid white;
          border-radius: 10px;
          width: 200px;
        }
      }
    }
  }
}

.why-join-us {
  min-height: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    background-color: white;
    padding: 70px;
    border-radius: 15px;

    .left {
      h1 {
      }

      ul {
        list-style: none;
        padding: 0 !important;

        li {
        }
      }

      .btn {
        background: transparent;
        color: #78350f;
        border: 2px solid #78350f;
        border-radius: 10px;
        width: 200px;
      }
    }

    .right {
      img {
        max-width: 400px;
        width: 100%;
        box-shadow: 0 0 20px #afacac;
        border-radius: 20px;
      }
    }

  }
}
